body {
    background-color: rgb(122, 122, 122);
}

.container {
    overflow: hidden;
    width: 1100px;
    height: 650px;
    margin: auto;
    position: relative;
    background-color: white;
    margin-top: 150px;
}

.triangle {
    width: 400px;
    height: 400px;
    background-color: rgb(2, 38, 241);
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
}

.first {
    left: 150px;
    top: 450px;
}

.second {
    left: 380px;
    top: 500px;
}

.third {
    right: 150px;
    top: 450px;
}

.sun {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 208, 0);
    position: absolute;
    animation-name: sunrise;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sunrise {
    0%  { transform: translate(570px, 390px); 
    opacity: 0;}
    10% { transform: translate(570px, 350px); background-color: rgb(255, 51, 0); opacity: 1;}
    20% { transform: translate(570px, 300px); background-color: rgb(255, 251, 0)}
    100% { transform: translate(570px, -200px);}
}

.cloud_big {
    width: 300px; height: 120px;
	border-radius: 100px;
	position: absolute;
    background-color: rgb(214, 208, 208);
    left: 1400px; 
}

.cloud_big::after, .cloud_big::before {
	content: " ";
	position: absolute;
    background-color: rgb(214, 208, 208); 	
}

.cloud_big::before {
	width: 150px; height: 150px;
	top: -70px; left: 50px;
	border-radius: 100px;
}

.cloud_big::after {
	width: 100px; height: 100px;
    top: -50px; left: 150px;
	border-radius: 200px;
}

.cloud_small {
    width: 220px; height: 90px;
	border-radius: 100px;
	position: absolute;
    background-color: rgb(214, 208, 208);
}

.cloud_small::after, .cloud_small::before {
	content: " ";
	position: absolute;
    background-color: rgb(214, 208, 208); 	
}

.cloud_small::before {
	width: 100px; height: 100px;
	top: -40px; left: 50px;
	border-radius: 100px;
}

.cloud_small::after {
	width: 70px; height: 70px;
    top: -30px; left: 120px;
	border-radius: 200px;
}

.one {
    animation-name: cloud_moove_one;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cloud_moove_one {
    0%  { transform: translate(-300px, 290px);}
    100% { transform: translate(-1800px, 290px)}
}

.two{
    animation-name: cloud_moove_two;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cloud_moove_two {
    0%  { transform: translate(-300px, 290px);}
    100% { transform: translate(-1800px, 290px)}
}

.three {
    animation-name: cloud_moove_three;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cloud_moove_three {
    0%  { transform: translate(1320px, 250px);}
    100% { transform: translate(-320px, 250px)}
}

.four {
    animation-name: cloud_moove_four;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cloud_moove_four {
    0%  { transform: translate(-320px, 250px);}
    100% { transform: translate(1320px, 250px)}
}